<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Expense Calculator Management</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Expense Calculator Management System</h1>

    <p>
        Manage your daily expenses easily.
    </p>

    <a href="/login" class="btn">
        Get Started
    </a>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>